<v-container class="fill-height" fluid>
  <v-layout class="mx-auto mx-10 text-center">
    <v-flex md12>
      <v-flex xs12 sm12 m12>
        <h2 class="primary--text">CADASTRAR USUÁRIO ALUNO</h2>
      </v-flex>

      <v-divider class="my-6"></v-divider>

      <v-flex xs12 sm12 m12 class="mx-10">
        <v-flex xs6 sm6 m6 class="form-box" v-if="!finalizado">
          <v-text-field counter id="nome" label="Nome" v-model.trim="usuario.nome" :rules="rules" maxlength="45"></v-text-field>
          <v-text-field counter id="email" label="E-mail" v-model.trim="usuario.email" :rules="rules" maxlength="45"></v-text-field>
          <v-text-field counter id="senha" label="Senha" v-model.trim="usuario.senha" :rules="rules" maxlength="45"
            :append-icon="exibirSenha ? 'mdi-eye' : 'mdi-eye-off'" :type="exibirSenha ? 'text' : 'password'"
            @click:append="exibirSenha = !exibirSenha"></v-text-field>
          <v-text-field counter id="repetirSenha" label="Repetir Senha" v-model="usuario.repetirSenha" :rules="rules"
            maxlength="45" :append-icon="exibirSenha ? 'mdi-eye' : 'mdi-eye-off'"
            :type="exibirSenha ? 'text' : 'password'">
          </v-text-field>
          <v-btn depressed small color="error" outlined class="elevation-3 mx-4" @click="navegarLogin">Ir para Login
          </v-btn>
          <v-btn depressed small color="primary" class="elevation-3 mx-4" @click="cadastrarUsuario">Confirmar Cadastro
          </v-btn>
        </v-flex>
        <v-flex xs6 sm6 m6 class="form-box" v-else>
          <h5 class="my-3">Cadastrado realizado com sucesso!</h5>
          <v-btn depressed small color="primary" outlined class="elevation-3 mx-4" @click="navegarLogin">Ir para Login
          </v-btn>
        </v-flex>
      </v-flex>
    </v-flex>
  </v-layout>
</v-container>