<section>
    <v-container class="fill-height" fluid>
        <v-layout class="mx-auto mx-10 text-center">
            <v-flex md12>
                <v-data-table dense :headers="headers" :items="questoes" sort-by="idQuestao" :search="pesquisa"
                    :sort-by="['idQuestao', 'descricaoQuestao']" :sort-desc="[false, true]" class="elevation-4">
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Questões</v-toolbar-title>
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <v-spacer></v-spacer>
                            <v-text-field v-model="pesquisa" append-icon="mdi-magnify" label="Pesquisar" single-line
                                hide-details></v-text-field>
                            <v-btn depressed small color="primary" dark class="mb-2 ml-6" @click="incluirQuestao">
                                Adicionar +
                            </v-btn>
                            <v-dialog v-model="dialog" max-width="700px">
                                <v-card>
                                    <v-card-title class="py-0">
                                        <v-row>
                                            <v-col cols="6" sm="6" md="6">
                                                <span class="headline">{{ tituloModal }}</span>
                                            </v-col>
                                            <v-col cols="6" sm="6" md="6" class="text-right">
                                                <v-chip v-show="!inclusao" color="red" dark>ID Questão:
                                                    {{ questao.idQuestao }}
                                                </v-chip>
                                            </v-col>
                                        </v-row>
                                    </v-card-title>
                                    <v-card-text class="py-0">
                                        <v-container class="py-0">
                                            <v-row>
                                                <v-col cols="12" sm="12" md="12" class="py-1">
                                                    <v-text-field dense v-model.trim="questao.descricaoQuestao"
                                                        label="Descrição" maxlength="45"
                                                        :error-messages="msgErro.descricaoQuestaoErro">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="12" md="12" class="py-1">
                                                    <v-text-field dense v-model.trim="questao.alternativaA"
                                                        label="Alternativa A" maxlength="45" :disabled="habilitarCampo"
                                                        :error-messages="msgErro.alternativaAErro">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="12" md="12" class="py-1">
                                                    <v-text-field dense v-model.trim="questao.alternativaB"
                                                        label="Alternativa B" maxlength="45" :disabled="habilitarCampo"
                                                        :error-messages="msgErro.alternativaBErro">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="12" md="12" class="py-1">
                                                    <v-text-field dense v-model.trim="questao.alternativaC"
                                                        label="Alternativa C" maxlength="45" :disabled="habilitarCampo"
                                                        :error-messages="msgErro.alternativaCErro">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="12" md="12" class="py-1">
                                                    <v-text-field dense v-model.trim="questao.alternativaD"
                                                        label="Alternativa D" maxlength="45" :disabled="habilitarCampo"
                                                        :error-messages="msgErro.alternativaDErro">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="12" md="12" class="py-1">
                                                    <v-text-field dense v-model.trim="questao.alternativaE"
                                                        label="Alternativa E" maxlength="45" :disabled="habilitarCampo"
                                                        :error-messages="msgErro.alternativaEErro">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="6" sm="4" md="4" class="py-1">
                                                    <span>Alternativa Correta</span>
                                                    <v-select solo dense :items="['A', 'B', 'C', 'D' , 'E']"
                                                        v-model="questao.alternativaCorreta" label="Alternativa Correta"
                                                        :disabled="habilitarCampo"></v-select>
                                                </v-col>
                                                <v-col cols="6" sm="4" md="4" class="py-1">
                                                    <span>Estado</span>
                                                    <v-select solo dense v-model.number="questao.estadoQuestao"
                                                        :items="estados" item-value="value" item-text="text"
                                                        label="Estado">
                                                    </v-select>
                                                </v-col>
                                                <v-col cols="6" sm="4" md="4" class="py-1">
                                                    <span>Tipo Questão</span>
                                                    <v-select solo dense v-model.number="questao.idTipoQuestao"
                                                        :items="tiposQuestao" item-value="value" item-text="text"
                                                        label="Tipo Questão">
                                                    </v-select>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn depressed outlined color="error" @click="cancelarModal">Cancel</v-btn>
                                        <v-btn depressed color="primary" @click="salvarModal">Save</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-icon small @click="editarQuestao(item.idQuestao)">
                            mdi-pencil
                        </v-icon>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
    </v-container>
</section>