<section>
  <v-container class="fill-height" fluid>
    <v-layout class="mx-auto mx-10">
      <v-flex md12>
        <v-toolbar flat color="white">
          <v-toolbar-title>Últimos 10 Resultados </v-toolbar-title>
        </v-toolbar>
        <hr>
        <v-row>
          <v-col cols="2" sm="2" md="2">
            <span>ID Prova:</span>
            <v-select solo dense v-model.number="idProva" :items="provas" item-value="idProva" item-text="idProva"
              label="Prova">
            </v-select>
          </v-col>
        </v-row>
        <grafico-resultado label="Resultado %" barColor="#2196f3" :idProva="idProva"></grafico-resultado>
      </v-flex>
    </v-layout>
  </v-container>
</section>