<section>
    <v-container class="fill-height">
        <v-layout class="mx-auto mx-10 text-center">
            <v-flex md12>
                <v-row>
                    <v-col>
                        <h1 class="primary--text">SIMULADO ENADE</h1>
                        <hr>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <h2 class="red--text">Erro 404: Endereço Não Encontrado</h2>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <p>Não foi possível encontrar o endereço informado ou o endereço está indisponível no momento.
                        </p>
                        <v-btn color="primary" class="elevation-4">
                            Página Inicial
                        </v-btn>
                    </v-col>
                </v-row>
            </v-flex>
        </v-layout>
    </v-container>
</section>