<section>
    <v-container class="fill-height">
        <v-layout class="mx-auto mx-10 text-center">
            <v-flex md12>
                <v-row>
                    <v-col>
                        <h1 class="primary--text">Simulado Enade</h1>
                        <v-divider></v-divider>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <p>
                            Desenvolvimento para trabalho do curso de Engenharia de Software, na disciplina de
                            Laboratório de Programação de Web Sites Dinâmicos.
                        </p>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <h3 class="blue--text">Técnologias Utilizadas</h3>
                        <v-divider></v-divider>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <h4 class="deep-purple--text">BACK-END</h4>
                        <v-list dense>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>Java</v-list-item>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>Java Spring Boot</v-list-item>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>JPA</v-list-item>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>Swagger</v-list-item>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>Model Mapper</v-list-item>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>My SQL Connector</v-list-item>
                        </v-list>
                    </v-col>
                    <v-col>
                        <h4 class="deep-purple--text">FRONT-END</h4>
                        <v-list dense>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>Vue.js</v-list-item>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>Vuetify</v-list-item>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>Axios</v-list-item>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>Vue Toast Notification</v-list-item>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>Vue Tabulator</v-list-item>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>Vuex</v-list-item>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>Vue Chart Js</v-list-item>
                            <v-list-item><v-icon small left>mdi-arrow-right</v-icon>Vue Router</v-list-item>
                        </v-list>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-divider class="mb-3"></v-divider>
                        <h5>Desenvolvido por Lucas de Almeida Paula</h5>
                    </v-col>
                </v-row>
            </v-flex>
        </v-layout>
    </v-container>
</section>